In [2]:
#Dongzheli 104434089

import numpy as np
from scipy import linalg
import pandas as pd
import warnings
warnings.simplefilter('ignore', DeprecationWarning)

data = pd.read_csv('/Users/Dongzhe/Desktop/stat 202a/hw2/state_x77.csv')
data.head()

,Unnamed: 0,Population,Income,Illiteracy,Life.Exp,Murder,HS.Grad,Frost,Area,Density
0,Alabama,3615,3624,2.1,69.05,15.1,41.3,20,50708,71.290526
1,Alaska,365,6315,1.5,69.31,11.3,66.7,152,566432,0.644384
2,Arizona,2212,4530,1.8,70.55,7.8,58.1,15,113417,19.503249
3,Arkansas,2110,3378,1.9,70.66,10.1,39.9,65,51945,40.619886
4,California,21198,5114,1.1,71.71,10.3,62.6,20,156361,135.570890

In [3]:
X=data.get(['Population', 'Income', 'Illiteracy','Murder','HS.Grad','Frost','Density' ])
X.head()

   Population  Income  Illiteracy  Murder  HS.Grad  Frost     Density
0        3615    3624         2.1    15.1     41.3     20   71.290526
1         365    6315         1.5    11.3     66.7    152    0.644384
2        2212    4530         1.8     7.8     58.1     15   19.503249
3        2110    3378         1.9    10.1     39.9     65   40.619886
4       21198    5114         1.1    10.3     62.6     20  135.570890

In [4]:
Y=data.get(['Life.Exp'])
Y.head()

   Life.Exp
0     69.05
1     69.31
2     70.55
3     70.66
4     71.71

In [5]:
nx, mx = X.shape
Z = np.hstack((np.ones(nx).reshape((nx, 1)),X,Y))
Z.shape

(50, 9)

In [11]:
def mylm_qr(A):
    n, m = A.shape
    R = A.copy()
    Q = np.eye(n)

    for k in range(m-1):
        x = np.zeros((n, 1))
        x[k:, 0] = R[k:, k]
        v = x
        v[k] = x[k] + np.sign(x[k,0]) * np.linalg.norm(x)

        s = np.linalg.norm(v)
        if s != 0:
            u = v / s
            R -= 2 * np.dot(u, np.dot(u.T, R))
            Q -= 2 * np.dot(u, np.dot(u.T, Q))
    Q = Q.T
    R1 = R[:m-1, :m-1]
    Y1 = R[:m-1, m-1]
    beta=np.linalg.solve(R1, Y1)
    return beta
    print beta
mylm_qr(Zin)

array([  7.20647128e+01,   5.95566298e-05,   9.34505445e-05,
        -3.94997328e-02,  -3.33832448e-01,   2.78499372e-02,
        -6.69908118e-03,  -7.85799680e-04])

In [7]:
def mylm_sweep(B, m):
    A = np.copy(B)
    n, c = A.shape
    for k in range(m):
        for i in range(n):
            for j in range(n):
                if i != k and j != k:
                    A[i,j] = A[i,j]- A[i,k]*A[k,j]/A[k,k]

        for i in range(n):
            if i != k:
                A[i,k] = A[i,k]/A[k,k]

        for j in range(n):
            if j != k:
                A[k,j] = A[k,j]/A[k,k]

        A[k,k] = -1/A[k,k]
    beta=A[0:m,m]
    return beta



Zin=np.dot(Z.T,Z)
mylm_sweep(Zin, mx+1)

array([  7.09414313e+01,   6.24896566e-05,   1.48450662e-04,
         1.45179602e-01,  -3.31924798e-01,   3.74645692e-02,
        -5.53285316e-03,  -7.99544093e-04])